services:
  back:
    build:
      context: .
      dockerfile: Dockerfile
      target: back
    ports:
      - "8080:8080"

  front:
    build:
      context: .
      dockerfile: Dockerfile
      target: front
    ports:
      - "80:80"
    depends_on:
      - back
